<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.aragats.aracle"
    android:installLocation="auto">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_blue_tel"
        android:label="@string/AppName"
        android:theme="@style/Theme.TMessages.Start"
        android:name="ru.aragats.aracle.ApplicationLoader"
        android:hardwareAccelerated="@bool/useHardwareAcceleration"
        android:largeHeap="true">

    </application>

</manifest>
